#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    border: 2px solid green;
}

#app > header {
    border: 5px solid red;
    grid-column: 1/4;
}

#app > aside {
border: 5px solid blue;
grid-column: 1/2;
grid-row: 2/3;
}

#app > main {
border: 5px solid yellow;
grid-column: 2/4;
}


#app > footer {
border: 5px solid black;
grid-column: 1/4;
grid-row: 3/4;
}

/* #app div:nth-child(2){
    grid-column: 2/4;
} */
